*.suo
*.pdb

bin/
obj/
W3CTestSuite/
Nuget/
.settings/
*.class
target/
server/*/.classpath
server/*/.mymetadata
server/*/.project
server/*/.myumldata
server/disneydata/src/main/webapp/WEB-INF/lib/
server/disneydata/src/main/webapp/META-INF/MANIFEST.MF