@charset "UTF-8";

html,body {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

body {
	/* background-color: #1A1F35; */
	background-color: #FFF;
	height: 100%;
	color: white;
}

img{
	width:100%;
 }
 
input{outline:none} 

* {
	font-family: Arial, Microsoft YaHei, tahoma, serif, simsun, fantasy;
}

ul,li {
	list-style-type: none;
}

.bg-color-black {
	background-color: #1A1F35;
}


.disney-bg-full {
	height: 100%;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
}

.txt-color-blue {
	color: #4C8ED7;
}

.txt-color-red {
	color: #D23F5A;
}

.txt-color_gray {
	color: #777;
}

.bg-color-blue {
	background-color: #4C8ED7;
}

.bg-color_red {
	background-color: #D23F5A!important;
}

.bg-color_gray {
	background-color: #777;
}
/**************index****************/


 
.clear {
	clear: both;
}

.idx_top {
	border-bottom: solid 1px #363B54;
}

.idx_top_bg {
	margin-bottom: -15px;
}

.idx_top .items {
	color: white;
	width: 90%;
	margin: 0 auto;
	position: relative;
	bottom: 15px;
}

.idx_top .item {
	float: left;
	text-align: center;
	width: 25%;
}

.idx_top .item_circle {
	border-radius: 50%;
	width: 60%;
	margin: 0 auto;
}

.idx_top .item_text {
	margin: 10px 10%;
}

.idx_top .item_bot_col1 {
	border-bottom: solid 2px #4C8ED7;
}

.idx_top .item_bot_col2 {
	border-bottom: solid 2px #D23F5A;
}

.idx_top .item_bot_col3 {
	border-bottom: solid 2px #DDAD04;
}

.idx_top .item_bot_col4 {
	border-bottom: solid 2px #13AD68;
}

.idx_top .item_img {
	padding: 20% 0;
	width: 60%;
}

.idx_top .item_col1 {
	background-color: #4C8ED7;
}

.idx_top .item_col2 {
	background-color: #D23F5A;
}

.idx_top .item_col3 {
	background-color: #DDAD04;
}

.idx_top .item_col4 {
	background-color: #13AD68;
}

.idx_center .unslider .next,
.idx_center .unslider .prev,
.idx_center .unslider-nav {
	display: none;
}

.idx_slider .slider_item {
	padding: 10px;
}

.idx_slider .slider_item .text {
	color: white;
	border-left: solid 3px #4C8ED7;
	padding-left: 10px;
}

.idx_slider .slider_item .img {
	width: 90%;
	margin: 0px auto;
	padding-top: 8px;
}

.idx_bot {
	background-color: #AE2A03;
	position:absolute;
	bottom:0;
	width:100%;
}

.idx_bot .img {
	margin: 0 auto;
	padding: 8px 0px;
	text-align: center;
}

.idx_bot .english{
	font-size: 90%;
	letter-spacing 0.5px; 
}

.idx_bot .zh{
	font-size: 110%;
}

/************************park****/
/* .park-p-items {
	color: black;
	background-color: rgba(240,240,240,0.9);
	height: 75%;
	width: 90%;
	margin: 0 auto;
	position: absolute;
	left: 5%;
	top: 8%;
}

.park-p-item {
	float: left;
	width: 50%;
	height: 50%;
}

.park-p-item .bor-right {
	border-right: solid 1px #777;
}

.park-p-item .bor-left {
	border-left: solid 1px #777;
}

.park-p-item .bor-bottom {
	border-bottom: solid 1px #777;
}

.park-p-item .bor-top {
	border-top: solid 1px #777;
}

.park-p-item-info {
	height: 100%;
	text-align: center;
	position: relative;
}

.park-p-item-info .item {
	position: absolute;
	width: 100%;
}

.park-p-item-info .name {
	font-weight: bold;
	font-size: 150%;
	letter-spacing: 2px;
	margin: 5% 0 3% 0;
}

.park-p-item-info .price {
	margin: 1% 0;
	font-size: 80%;
}

.park-p-item-info .note {
	color: #777;
	margin: 2%;
}

.park-p-item-info .num {
	color: green;
	font-weight: bold;
	font-size: 200%;
	margin: 2%;
}

.park-p-item-info .location {
	width: 70%;
	margin: 2% auto;
	border: solid 1px #777;
	padding: 5px 0;
}

.park-map-img {
	width: 100%;
	height: 100%;
	position: fixed;
}

.park-info {
	position: absolute;
	width: 130px;
	margin: 0 auto;
	z-index: 4;
	color: red;
	text-align: center;
	background: white;
	border-radius:5px;
	display:none;
}

.park-info-name{
	color: white;
	padding: 8px 0;
	font-size: 130%;
	letter-spacing: 1px;
	border-radius:3px 3px 0px 0px;
}

.park-info-tip{
	padding-top:5px;
	letter-spacing: 3px;
}

.park-info-tip span{
	letter-spacing: -2px;
	padding: 0 5px;
}

.park-info-num{
	color: #23B823;
	margin-top:-5px;
	font-size: 250%;
} */

/************************newparks****/
.park-items {
	color: black;
	/* background-color: rgba(240,240,240,0.9); */
	height: 30%;
	width: 95%;
	margin: 0 auto;
}

.park-item {
	float: left;
	width: 50%;
	height: 70%;
}

.park-item-info {
	height: 100%;
	text-align: center;
	position: relative;
}

.park-item-info .item {
	position: absolute;
	width: 100%;
}

.park-item-info .name {
	font-weight: bold;
	font-size: 150%;
	letter-spacing: 2px;
	margin: 5% 0 3% 0;
	color: yellowgreen;
}

.park-item-info .price {
	margin: 1% 0;
	font-size: 80%;
}

.park-item-info .note {
	width: 70%;
	margin: 2% auto;
	border: solid 1px #777;
	padding: 5px 0;
}

.park-item-info .num {
	color: green;
	font-weight: bold;
	font-size: 200%;
	margin: 2%;
}

.park-item .bor-bottom {
	border-bottom: solid 1px #CCC;
}

.park-map{
	height: 70%;
	width: 100%;
}

.park-map-all-img {
	border: solid 1px #ccc;
}

/*********guide************************/
.guide-map {
	height: 100%;
	background-color: white;
	margin: 0 auto;
	overflow:auto;
	text-align: center;;
}

.guide-map-remark {
	color: whitesmoke;
	position: relative;
	bottom: 42px;
	text-align: right;
	right: 10px;
	padding: 5px 8px;
	border: solid 1px #eee;
	width: 130px;
	float: right;
	background-color: rgba(250, 63, 90, 0.8);
}

.btn_handler {
	background-color: #ccc;
	color: #D23F5A;
	position: fixed;
	top: 10px;
	padding: 12px;
	font-size: 150%;
	border-radius: 50%;
	width:18px;
	height:18px;
}

.btn_minus_pos {
	left: 80px;
}

.btn_plus_pos {
	left: 20px;
}

.guide-map-container{
	overflow: auto;
}

.guide-map table {
	height: 100%;
}

.guide-map table img {
	background-color: #eee;
	overflow: auto;
}


.guide-ab-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.guide-top {
	text-align: right;
	padding: 8px 30px 5px 30px;
	background: white;
	color: #777;
	float: left;
	margin-left: 30px;
	border-radius: 40% 40% 0 0;
	margin-bottom: -1px;
	border: solid 1px #ccc;
	border-bottom: none;
}

.guide-step-detail ul {
	padding: 15px 0;
	height: 120px;
	overflow:auto;
}

.guide-step-detail ul li {
	padding: 5px 0px;
}

.guide-step-detail .step-walk {
	color:red;
}

.guide-step-detail .step-bus {
	color:#04BE02;
}

.guide-detail {
	text-align: center;
	background-color: white;
	color: black;
	padding: 10px;
	border: solid 1px #ccc;
	border-bottom: none;
}

.guide-detail-title {
	width: 60px;
	margin: 0px auto;
	padding: 3px 15px;
	background: #D23F5A;
	color: white;
	border-radius: 4px;
}

.guide-detail-info {
	margin: 5px;
	font-size: 140%;
	font-weight: bold;
	letter-spacing: 1px;
}

.guide-detail-time {
	margin: 10px 0px;
	font-size: 120%;
	color: #777;
}

.guide-step-detail {
	background-color: white;
	color: #777;
	padding: 0px 30px;
	display: none;
}

.guide-step-time {
	text-align: center;
	padding: 5px;
	background-color: rgba(200, 200, 200, 0.2);
}

.guide-step-tag {
	float: left;
	margin: 5px 5px;
}

.guide-step-txt {
	float: left;
	border-bottom: solid 1px #ccc;
	padding-bottom: 3px;
	width: 80%;
}

.guide-toggle {
	position: fixed;
	float: right;
	top: 12px;
	right: 18px;
	padding: 3px 5px;
	background-color: rgba(256,256,256,0.5);
	border:solid 1px #ccc;
	color: white;
	border-radius: 4px;
	opacity:0.8;
}

.guide-toggle img{
	width:80px;
}



.loc-mark {
	position: fixed;
	padding: 6px 12px;
	border: solid 1px #ccc;
	margin: 10px;
	background: rgba(256, 256, 256, 0.7);
	border-radius: 3px;
}

.loc-mark tr {
	line-height: 190%;
}

.loc-mark-img {
	width: 20px;
	padding-right: 12px;
}

.loc-mark-text {
	color: black;
	font-size: 90%;
}

.loc-mark-single {
	position: fixed;
	padding: 3px 8px;
	border: solid 1px #ccc;
	margin: 10px;
	background: rgba(256, 256, 256, 0.5);
	border-radius: 3px;
}

.loc-mark-single-txt {
	color: black;
	font-size: 90%;
}


/***********guide location***************/
.guide-loc-info {
	background-color: white;
	padding: 10px;
	color: black;
	overflow: auto;
	zoom: 1;
	border-top: solid 1px #ccc;
}

.guide-loc-info-left {
	float: left;
	width: 70%;
}

.guide-loc-info-left .title {
	font-size: 120%;
	font-weight: bold;
	padding: 2px 10px;
	color: black;
}

.guide-loc-info-left .position {
	font-size: 120%;
	color: #777;
	padding: 2px 10px;
}

.guide-loc-info-left .note {
	font-size: 90%;
	color: #D23F5A;
	padding: 2px 10px;
}

.guide-loc-info-left tr{
	line-height: 180%;	
}

.guide-loc-info-left td.left{
	text-align: center;
	width:25px;
}

.guide-loc-info-left td img{
	width: 16px;
}



.guide-loc-info-right {
	float: left;
	width: 30%;
}

.guide-loc-info-right .rescan-border {
	border: solid 1px #CCC;
	text-align: center;
	margin-top:6px;
}

.guide-loc-info-right .rescan {
	width: 30%;
	margin: 10px auto;
}

.guide-loc-info-right .rescan-note {
	margin: 5px 0;
	color: #777;
	letter-spacing: 1px;
	font-size: 120%;
}

.guide-loc-confirm {
	background-color: #D23F5A;
	padding: 16px 0;
	text-align: center;
	letter-spacing: 2px;
	font-size: 140%;
}


/*******************pay******************/
.park-pay-top{
	padding: 15px;
	background: url(../images/pay-bg-top.jpg) no-repeat; 
	background-size: cover;
	color:white;
}

.park-pay-query {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 12px 0px;
	border-radius: 4px;
	font-size: 180%;
	letter-spacing: 4px;
	background: url(../images/pay-bg-bot.jpg) no-repeat; 
	background-size: cover;
}



/****leave***/
.leave-page-bg {
	text-align: center;
	background-color: rgba(7, 7, 7, 0.7);
	height: 100%;
}

.leave-top-message {
	padding: 5px 10px;
	display: none;
}

.leave-tip-input {
	font-size: 180%;
	padding: 12px 0 10px 0;
	letter-spacing: 2px;
}

.leave-tip-info {
	color: #CCC;
	padding-bottom: 20px;
}

.leave-input {
	height: 50px;
	width: 80%;
	padding: 15px;
	font-size: 180%;
	text-align: center;
	border-radius: 4px;
	border: none;
	letter-spacing: 2px;
}

.leave-btn-border {
	padding-top: 15px;
}

.leave-btn {
	width: 80%;
	margin: 0 auto;
	padding: 6px 0px;
	border-radius: 4px;
	font-size: 180%;
	letter-spacing: 4px;
}

.leave-select-park {
	width: 80%;
	text-align: left;
	font-size: 150%;
	margin: 10px auto;
}

.leave-select-tip {
	padding-bottom: 15px;
}

.leave-park-first {
	border-radius: 4px 0 0 4px;
}

.leave-park-last {
	border-radius: 0 4px 4px 0;
}

.leave-park li {
	float: left;
	width: 25%;
	text-align: center;
}


.leave-park .bor-left-none {
	border-left: none;
}

.leave-park li div {
	border: solid 1px #ccc;
	padding: 15px 0;
	background-color: rgba(240, 240, 240, 0.5)
}

.leave-park li.selected div{
	background-color: #D23F5A;
}


/**********scan************/
.scan-wechat {
	background-color: white;
	margin: 0 auto;
	width: 100%;
	padding-top: 50%;
}

.scan-wechat .scan-remark {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 6px 0px 6px 10px;
	letter-spacing: 0.8px;
}

.scan-wechat .scan-img {
	margin: 0 auto;
	width: 35px;
	padding: 20px;
	border: solid 1px #CCC;
}

.scan-wechat .scan-btn {
	width: 70%;
	margin: 20px auto;
	letter-spacing: 5px;
}

/*************************************************************/
.his-cookies {
	color: #777;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	height:60px;
}

.his-cookies ul{
	width:80%;
	margin:8px auto;	
}

.his-cookies li{
	float:left;
	width:50%;
}


.his-title {
	padding-top: 5px;
}

.his-cars .car-no {
	border: solid 1px white;
	padding: 5px 20px;
	margin: 10px 0px;
	border-radius: 4px;
	width:70px;
	background-color: #eee;
}

.his-cars .checked {
	color: white;
	background-color: #D23F5A;
	border: solid 1px #eee;
}

/*****************locations****************/
.loc-view-info {
	padding: 0px 10px;
}

.lov-view-title {
	color: #777;
	font-size: 130%;
	text-align: center;
	padding: 10px;
}

.loc-view-img {
	padding: 5px 0px;
	height: 140px;
}

.loc-view-img img {
	height: 140px;
}

.loc-view-img .txt {
	text-align: right;
	position: relative;
	color: white;
	bottom: 35px;
	font-size: 130%;
	background-color: rgba(7, 7, 7, 0.3);
	padding: 0 10px;
}

.loc-search {
	border-bottom: solid 1px #ccc;
	padding: 20px;
}

.loc-search-bg {
	color: white;
	background-color: #777;
	border-radius: 4px;
	font-size: 130%;
	padding: 5px;
}

.loc-search i {
	padding: 0 12px;
}

.loc-search input {
	padding: 5px 0px;
	background-color: rgba(7, 7, 7, 0);
	border: none;
	width: 80%;
	color: white;
}

/****parkpay************/
.park-pay-info {
	font-size: 130%;
	padding: 5px 0;
}

.park-pay-info-left {
	float: left;
	color: #AAA;
}

.park-pay-info-right {
	float: right;
}

.park-pay-top table {
	text-align: right;
	width: 100%;
}

.park-pay-top .title {
	padding: 8px 20px;
	border: solid 1px white;
	border-radius: 4px;
}

.park-pay-top .amt {
	margin-top: 15px;
	font-size: 300%;
}

.park-pay-content {
	color: #777;
	padding: 15px;
}

.park-pay-content .title {
	font-size: 150%;
	padding-bottom: 8px;
	font-weight: bold;
}

.park-pay-content .carno {
	text-align: center;
	padding: 8px;
	border-radius: 4px;
	border: solid 1px #ccc;
	font-size: 150%;
	background-color: #eee;
	letter-spacing: 1px;
	margin-bottom: 5px;
}

.park-pay-content .paytitle {
	font-size: 150%;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
	padding-top: 30px;
	font-weight: bold;
}

.park-pay-content .paylist {
	color: #777;
	padding: 15px 0px;
}

.park-pay-content .paylist img {
	width: 30px;
}

.park-pay-content .paylist .paystyle {
	padding: 0 10px;
}

.park-pay-content .payborder {
	padding: 10px 0;
}

.park-pay-content .paybtn {
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 12px 0px;
	border-radius: 4px;
	font-size: 180%;
	letter-spacing: 4px;
}

/*introduction*/
.intro-title{
	background-image: url(<c:url value='/resources/images/introduction/pic.png'/>);
	width:100%;
}

.intro-title img{
	width: 20%;
}

.intro-page{
	text-align: center;
	line-height:25px;
	padding-bottom: 30px;
}

.intro-center-div{
	margin-top:20px;
}

.intro-center-div span{
	color: greenyellow;
}

.intro-img-div{
	margin: 5%;
	width: 90%;
}

.intro-img-div div{
	float:left;
	width:45%;
	margin: 5px;
}

.intro-img-div div img{
	width:100%;
}

.intro-p{
	text-align: left;
	text-indent: 2em;
}


/**parkpay-query***********/
.park-info-query {
	text-align: center;
	background-color: rgba(7, 7, 7, 0.7);
	height: 100%;
}

.park-info-query .park-info-title {
	font-size: 180%;
	padding: 30px 0 10px 0;
	letter-spacing: 2px;
}

.park-info-query .park-info-remark {
	color: #CCC;
	padding-bottom: 20px;
}

.park-info-query .park-info-input {
	height: 60px;
	width: 80%;
	padding: 15px;
	font-size: 180%;
	text-align: center;
	border-radius: 4px;
	border: none;
	letter-spacing: 2px;
}

.park-info-border {
	padding: 20px 0;
}

.park-info-btn {
	width: 80%;
	margin: 0 auto;
	padding: 12px 0px;
	border-radius: 4px;
	font-size: 180%;
	letter-spacing: 4px;
}
